@import url('https://fonts.googleapis.com/css?family=Mandali|Raleway:900&display=swap');

input[type="radio"] {
    
  position: absolute;
  top: -9999em;
}

html, body {
  font-family: Mandali, Arial, sans-serif;
  font-size: 16px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.end-box
{
    position: absolute;
    top: 80%;
    left: 47%;

}
#board {
  width: 50vmin;
  height: 50vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.tile {
  margin: 5%;
  position: relative;
}

.tile label,
.tile div {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.10);
  font-family: Raleway, Courier, 'Courier New', Sans, sans-serif;
  font-weight: bolder;

}


/* .tile div {
    display: none;
    overflow: hidden;
    text-shadow: 0 1px 6px rgba(0,0,0,0.85)
    
  } */
.tile:hover
{
    cursor: pointer ;
}



 

.tile div::before {
  padding: 100%;
}

 
#tile-0 label,
#tile-0 div {
  border-radius: 10% 0 0 0;
}

#tile-2 label,
#tile-2 div {
  border-radius: 0 10% 0 0;
}

#tile-6 label,
#tile-6 div {
  border-radius: 0 0 0 10%;
}

#tile-8 label,
#tile-8 div {
  border-radius: 0 0 10% 0;
}


input
{
    
    background-color: yellow;
} 
.tile div
{
    
    font-size: 40px;
    text-align: center;
}